<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>BCC 171 | Final Exam</title>
    <meta content="BCC 171 | Final Exam" property="og:title"/>
    <meta content="https://171.bccscholar.com/" property="og:url"/>
    <meta content="https://static.bccscholar.com/img/171embed_banner.png" property="og:image"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta content="คลังความรู้ ปลายภาค 2/2565" property="og:description"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.3.122/build/pdf.min.js"></script>
</head>

<body id="body" class="body">
<div class="header1">
    <a id="cancel" onclick="cancel()" class="cancel"><img src="{{ url_for('static', filename='img/171_Logo_Black.png')}}" width="48px" height="48px"></a>
    <div class="dropdown">
        <button class="dropbtn">วิชาปกติ</button>
        <div class="dropdown-content">
            <a onclick="funmath()">คณิตพื้นฐาน</a>
            <a onclick="social()">สังคมศึกษา</a>
            <a onclick="ไทย()">ไทย</a>
            <a onclick="อิงกริด()">อังกฤษ</a>
        </div>
    </div>
    <div class="dropdown2">
        <button class="dropbtn2">วิทย์-คณิต</button>
        <div class="dropdown-content2">
            <a onclick="mdbio()">ชีวะ (แพทย์)</a>
            <a onclick="enartbio()">ชีวะ (วิศวะ-สถาปัตย์)</a>
            <a onclick="physics()">ฟิสิกส์</a>
            <a onclick="enchem()">เคมี (แพทย์-วิศวะ)</a>
            <a onclick="artchem()">เคมี (สถาปัตย์)</a>
            <a onclick="addmath()">คณิตเพิ่มเติม</a>
        </div>
    </div>
    <div class="dropdown3">
        <button class="dropbtn3">ศิลป์-คำนวณ</button>
        <div class="dropdown-content3">
            <a onclick="scie()">วิทยาศาสตร์</a>
            <a onclick="addmath()">คณิตเพิ่มเติม</a>
        </div>
    </div>
    <div class="dropdown4">
        <button class="dropbtn4">ศิลป์-ภาษา</button>
        <div class="dropdown-content4">
            <a onclick="scie()">วิทยาศาสตร์</a>
            <a onclick="chinese()">ภาษาจีน</a>
            <a onclick="japanese()">ภาษาญี่ปุ่น</a>
        </div>
    </div>

</div>
<div class="header2"></div>
<div class="header3"></div>
<div class="display" id="display">
    <iframe src="https://drive.google.com/file/d/15r8LmbsnF8iYd6ZNz3E0AVTz2NHiPRtC/preview" style="width:100%; height:100%;" ></iframe>
</div>
</body>
<script>
    function funmath() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1p76JKThPrVdGI1vPSp6DV_PrL0DE9uJM/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function social() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1pCqeDho4ch6O0uoGj4uHOHlWpozS9f2o/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function ไทย() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1pBHf5DbahHSpuahYKt0d1hEqP3i0U6xp/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function อิงกริด() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1pC8eX6I8xUBUG3qO3xdAXGcuTKGLWkKa/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function mdbio() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/17uL5xzYseYKlLVLxzI7z3YW2IQdgaolR/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function enartbio() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1dPDc-h85EEEYDPjGIKU7uES66KsBE8qq/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function physics() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1pAyr_w3EnE80dYR4eyVeVVy9JPy52mu5/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function enchem() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1p8IQo30UQKyGX8EJmgOeqUZCeLTZmtHY/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function artchem() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1RDO5AwIChdq8a0R6d6lD2xxmummWkyI7/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function addmath() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1p9G0ZoYkISzS-qgyjQNw_dNiqbpQ5lXc/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function scie() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1MoFsjceEi7uHtRKlhS6guduy4G014xSJ/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function chinese() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1kGnDnY1ahsPSLG-qoCKysP0E7kYWpMFz/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function japanese() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/1YgrGLIhehbQBfD5SvEROJvPE9BBc0XWr/preview\" height=\"100%\" width=\"100%\" ></iframe>";
    }
    function cancel() {
        document.getElementById("display").innerHTML = "<iframe src=\"https://drive.google.com/file/d/15r8LmbsnF8iYd6ZNz3E0AVTz2NHiPRtC/preview\" style=\"width:100%; height:100%;\" ></iframe>";

    }
    function grey() {
        document.getElementById("cancel").innerHTML = "<img src=\"{{ url_for('static', filename='img/171_Logo_Grey.png')}}\" width=\"48px\" height=\"48px\">";
    }
    function blacc() {
        document.getElementById("cancel").innerHTML = "<img src=\"{{ url_for('static', filename='img/171_Logo_Black.png')}}\" width=\"48px\" height=\"48px\">";
    }

</script>
